body{
    margin:0px;
    padding: 0px;
    display:flex;
    
}
.top{
    border:1px solid black;
    width:100vw;
    background-color: rgb(225, 225, 218);
}
.top li{
    display: inline;
    list-style: none;
    margin: 80px 30px 100px;
    
}
.top ul{
    margin-left:70px;
}
